In [1]:
# variable: string
name = 'nick'
print ("Hello world, " + name)

Hello world, nick

In [2]:
name = 'Anna'
print ("Hello world, " + name)

Hello world, Anna

In [3]:
# variable: int
age = 12
h = 'hello,' + name + ', you look like ' + age # error
print(h)

TypeError: must be str, not int

In [4]:
h = 'hello,' + name + ', you look like ' + str(age)
print ('hello %s, you look like %d' % (name, age))

hello Anna, you look like 12

In [5]:
print (h)

hello,Anna, you look like 12

In [6]:
x = 100; y=200 # 利用 ; 來區分敘述句
x,y

(100, 200)

In [7]:
# multiple assignment, 多個變數一次指定
x = y = 100
name, eng, math, phy = "Nick", 92, 88, 32

In [8]:
#
# DATA TYPES 
#

type(2)         # returns 'int'

int

In [9]:
type(2.0)       # returns 'float'

float

In [10]:
type('two')     # returns 'str'

str

In [11]:
type(True)      # returns 'bool'

bool

In [12]:
type(None)      # returns 'NoneType'

NoneType

In [13]:
# check if an object is of a given type
isinstance(2.0, int)            # returns False

False

In [14]:
isinstance(2.0, (int, float))   # returns True

True

In [15]:
# convert an object to a given type
float(2)

2.0

In [16]:
int(2.9)

2

In [17]:
str(2.9)

'2.9'

In [18]:
# zero, None, and empty containers are converted to False
bool(0)

False

In [19]:
bool(None)

False

In [20]:
bool('')    # empty string

False

In [21]:
bool([])    # empty list

False

In [22]:
bool({})    # empty dictionary

False

In [23]:
# non-empty containers and non-zeros are converted to True
bool(2)

True

In [24]:
bool('two')

True

In [25]:
bool([2])

True