In [1]:
# STRINGS 
# properties: iterable, immutable

# create a string
s = str(42)         # convert another data type into a string
s

'42'

In [2]:
s = 'I like python'
s

'I like python'

In [3]:
s = "I like python"	# ' and " are both ok
s

'I like python'

In [4]:
# examine a string
s[0]                # returns 'I'

'I'

In [5]:
len(s)              # returns 13

13

In [6]:
# string slicing is like list slicing
s[:6]               # returns 'I like'

'I like'

In [7]:
s[7:]               # returns 'python'

'python'

In [8]:
s[-1]               # returns 'n'

'n'

In [9]:
# basic string methods (does not modify the original string)
s.lower()           # returns 'i like python'

'i like python'

In [10]:
s.upper()           # returns 'I LIKE PYTHON'

'I LIKE PYTHON'

In [11]:
s.startswith('I')   # returns True

True

In [12]:
s.endswith('python')# returns True

True

In [13]:
s.isdigit()         # returns False (returns True if every character in the string is a digit)

False

In [14]:
s.find('like')      # returns index of first occurrence (2)

2

In [15]:
s.find('hate')      # returns -1 since not found

-1

In [16]:
s.replace('like', 'love')    # replaces all instances of 'like' with 'love'

'I love python'

In [17]:
# split a string into a list of substrings separated by a delimiter
s.split(' ')        # returns ['I', 'like', 'python']

['I', 'like', 'python']

In [18]:
s.split()           # equivalent (since is the default delimiter)

['I', 'like', 'python']

In [19]:
s2 = 'a, an, the'
s2.split(',')       # returns ['a', ' an', ' the']

['a', ' an', ' the']

In [20]:
# join a list of strings into one string using a delimiter
stooges = ['larry', 'curly', 'moe']
' '.join(stooges)   # returns 'larry curly moe'

'larry curly moe'

In [21]:
':'.join(stooges)   # returns 'larry:curly:moe'

'larry:curly:moe'

In [22]:
# concatenate strings
s3 = 'The meaning of life is'
s4 = '42'
s3 + ' ' + s4       # returns 'The meaning of life is 42'

'The meaning of life is 42'

In [23]:
# remove whitespace from start and end of a string
s5 = '  ham and cheese  '
s5.strip()          # returns 'ham and cheese'

'ham and cheese'

In [24]:
# string substitutions/formating
'raining %s and %s' % ('cats', 'dogs')

'raining cats and dogs'

In [25]:
'raining {} and {}'.format('cats', 'dogs')

'raining cats and dogs'

In [26]:
'raining {1} and {0}'.format('dogs', 'cats') # using index

'raining cats and dogs'

In [27]:
'raining {arg1} and {arg2}'.format(arg1='cats', arg2='dogs') # named arguments

'raining cats and dogs'

In [28]:
# string formatting
'pi is {:.2f}'.format(3.14159)      # returns 'pi is 3.14'

'pi is 3.14'

### escape code
<pre><code>

s = <span style="color:green">"</span>he doesn't like apple<span style="color:green">"</span>
s = <span style="color:green">'</span>he doesn<span style="color:red">\'</span>t like apple<span style="color:green">'</span>

</code></pre>

In [29]:
# use () to connect two line string
text = ('Today I will talk a long story. '
        'Long time ago, there is a king called Tom, he...')
text

'Today I will talk a long story. Long time ago, there is a king called Tom, he...'

In [30]:
text = 'Today I will talk a long story. ' + \
       'Long time ago, there is a king called Tom, he...'
text

'Today I will talk a long story. Long time ago, there is a king called Tom, he...'

In [31]:
# normal strings versus raw strings
print('first line\nsecond line')

first line
second line

In [32]:
print(r'first line\nfirst line') # raw string

first line\nfirst line

In [33]:
# no new line
print ('I like apple', end='')
print (' and banana')

I like apple and banana